{% extends "base.html" %}
{% block content %}
<h1>Manual til Babyrouletten</h1>
<p>Velkommen til M&Ms Babyroulette. Må den største spillefugl vinde.</p>
<ul>
  <li>Spillet består af 3 runder.</li>
  <ul>
    <li>I første runde spilles der om barnets køn. Der er således to udfald: Dreng eller Pige. Begge til odds 1.99. Runde 1 afsluttes onsdag aften d. 20/12 2017</li>
    <li>I anden runde spilles der om selve fødslen. Hvor lang bliver barnet, hvor meget kommer det til at veje, og hvad bliver barnets fødselsdag. Runde 2 afsluttes forhåbentlig senest 1/6-2016.</li>
    <li>I tredje og sidste runde spilles der om barnets navn. Her kommer der fem mulige navne at spille på. Runde 3 afsluttes når vi har fundet et navn.</li>
  </ul>
  <li>Alle spillere starter i første runde med 1000 jetoner.</li>
  <li>Ud over hæderen og den store ære præmieres vinderen naturligvis.</li>
  <li>Alle spil er endelige og kan ikke ændres.</li>
  <li>Du kan placere alle de væddemål du vil så længe du har jetoner tilbage. Du kan altså placere jetoner på alle udfald hvis du har lyst.</li>
  <li>Efter hver runde udregnes gevinsterne.</li>
  <li>Mindste indsats per væddemål er 1 jeton.</li>
  <li>Gevinster fra forrige runder kan geninvesteres i kommende runder.</li>
  <li>Hvis du går rabundus i første eller anden runde har du intet at spille for i de efterfølgende runder og er derfor ude - <b>og du kan ikke købe dig adgang igen. :)</b></li>
  <li>Marcus og Maria spiller selv med i runde 1 og runde 2, men er naturligvis inhabile i runde 3.</li>
  <li>Prøv at sats én enkelt jeton på et udfald for at lære systemet at kende før det egentlige spil placeres.</li>
</ul>
{% endblock %}